{% extends 'base.html.twig' %}

{% block title %}Hotel {% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Nombre_etoile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.adresse }}</td>
                <td>{{ hotel.nombreEtoile }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}"><img src="{{ asset('/assets/show.png') }}" style="width: 35px;height: 35px"></a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}"><img src="{{ asset('/assets/edit.png') }}" style="width: 35px;height: 35px"></a>

                    {{ include('hotel/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>

            </tr>
        {% endfor %}

        <a href="{{ path('app_hotel_new') }}"><img src="{{ asset('/assets/add.png') }}" style="width: 35px;height: 35px"></a>
        </tbody>
    </table>


{% endblock %}
